<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Contact page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <h1 align="center"> Контактная информация</h1>
    <br>
    <table border="1px" width="500px;" cellpadding="10px;" align="center" >
        <tr>
            <th>Телефон</th>
            <td>8-800-555-35-35</td>
        </tr>
                <tr>
            <th>Instagram</th>
            <td>@bettercall</td>
        </tr>
        <tr>
            <th>Город</th>
            <td>Москва</td>
        </tr>
    </table>
    <br>
    <a href="{% url 'home' %}">Назад</a>
</body>
</html>